<%--
Document   : absentReport
Created on : Aug 28, 2008, 5:49:32 PM
Author     : Sabareesh
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/parveen/js/timeoffice.js"></script>
<link href="/parveen/css/dhtmlgoodies_calendar.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" language="javascript" src="/parveen/js/dhtmlgoodies_calendar.js"></script>
<link  href="/parveen/css/parveen.css" rel="stylesheet" type="text/css">
</head>
<body>
<img align="middle" src="serviceEfficiency.JPG">

</body>

</html>
