
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="/parveen/css/parveen.css" rel="stylesheet" type="text/css">
<script language="javascript" src="/parveen/js/validate.js"></script>  


<script type="text/javascript" src="/parveen/js/autosuggest1.js"></script>
<link rel="stylesheet" type="text/css" href="/parveen/css/autosuggest.css" />
<script type="text/javascript" src="/parveen/js/suggestions1.js"></script>


<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %>  
<%@ page import="ets.domain.mrs.business.MrsTO" %>  
</head>



<SCRIPT>

var httpRequest1;     


function getOthers(sno)
{
    
    var temp=0;       
               var mfrCode=eval("document.mrs.mfrCode"+sno).value;                        
                var itemCode=eval("document.mrs.itemCode"+sno).value;                                
                var itemName=eval("document.mrs.itemName"+sno).value;                                
                if(mfrCode!=""){
                    temp=eval("document.mrs.mfrCode"+sno);
                }else if(itemCode!=""){
                temp=eval("document.mrs.itemCode"+sno);
            }else if(itemName!=""){
            temp=eval("document.mrs.itemName"+sno);
        }
        
            
                var url='/parveen/getQuandity.do?mfrCode='+mfrCode+'&itemCode='+itemCode+'&itemName='+itemName;              
                if (window.ActiveXObject)
                    {
                        httpRequest1 = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    else if (window.XMLHttpRequest)
                        {
                            httpRequest1 = new XMLHttpRequest();
                        }
                        httpRequest1.open("POST", url, true);
                        httpRequest1.onreadystatechange = function() {
                            go(sno,temp);                            
                        } ;
                        httpRequest1.send(null);
                    }
                    

     function go(sno,temp) {                         
            if (httpRequest1.readyState == 4) {
                if (httpRequest1.status == 200) {
                    var response = httpRequest1.responseText;   
                var uom=eval("document.mrs.uom"+sno);                
                var stock=eval("document.mrs.stock"+sno);                                
                var itemId=eval("document.mrs.itemId"+sno);   
                var mfrCode=eval("document.mrs.mfrCode"+sno);                        
                var itemCode=eval("document.mrs.itemCode"+sno);                                
                var itemName=eval("document.mrs.itemName"+sno);                                
                var qty=eval("document.mrs.qty"+sno);                                
                
                    if(response!=""){
                    var details=response.split('~');                                                           
                    
                    
                    itemName.value=details[5];
                    itemCode.value=details[4];
                    mfrCode.value=details[3];
                    uom.value=details[2];
                    stock.value=details[1];
                    itemId.value=details[0];                      
                    qty.focus();
                
                        if(details[6]==1011){
                            qty.value=1;
                            document.getElementById("posId"+sno).style.visibility="visible";            
                        }else{
                            qty.value="";
                            qty.focus();
                            document.getElementById("posId"+sno).style.visibility="hidden";            
                    }
                    
                    
                    }else
                    {
                        alert("Invalid value");
                        temp.value="";
                        temp.focus();
                    }
                }
            }
        }



function itemValidate()
{
    var rows = document.getElementsByName('selectedindex');
    var qty = 0;
    var itemName = '';
    var cntr = 0;
    for(var i=1;i<rows.length+1;i++){
        if(eval("document.mrs.itemId"+i).value!='' ){
            cntr++;
             if( eval("document.mrs.itemName"+i).value ==''  ){
                 alert("Please Enter Item Name");
                 eval("document.mrs.itemName"+i).focus();
                 return 'fail';
             }    
             if( isFloat(eval("document.mrs.qty"+i).value) ){
                 alert("Please Enter Correct Quantity");
                 eval("document.mrs.qty"+i).focus();
                 eval("document.mrs.qty"+i).select();
                 return 'fail';
             }
         }         
    }
    if(cntr==0){
        alert("Please enter any item");
        return 'fail'
    }    
    return 'pass';
}    



function clearFieldValues(val)
{
                getItemNames(val);
               var uom=eval("document.mrs.uom"+val);                
                var stock=eval("document.mrs.stock"+val);                                
                var itemId=eval("document.mrs.itemId"+val);   
                var mfrCode=eval("document.mrs.mfrCode"+val);                        
                var itemCode=eval("document.mrs.itemCode"+val);                                
                var itemName=eval("document.mrs.itemName"+val);                                
                var qty=eval("document.mrs.qty"+val);          
                var selectedInd=eval("document.mrs.selectedInd"+val);          
                if(selectedInd.checked == true){
                    itemName.value="";
                    itemCode.value="";
                    mfrCode.value="";
                    uom.value="";
                    stock.value="";
                    itemId.value="";                      
                    qty.value="";                      
                    document.getElementById("posId"+val).style.visibility="hidden";            
                }
}    







          var rowCount=2;
          var sno=0;
          var httpRequest;
          var httpReq;
          function addRow()
          {

               sno++;
               var tab = document.getElementById("items");
               var newrow = tab.insertRow(rowCount);
               var temp=sno-1;
               var cell = newrow.insertCell(0);
               var cell0 = "<td class='text1' height='25' ><input type='hidden' name='selectedindex' value='"+temp+"'><input type='hidden' name=hiddenElement1 value='itemId"+sno+"' ><input type='hidden'  name='itemId"+sno+"' > "+sno+"</td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell0;
               
     
               
               var cell = newrow.insertCell(1);
               var cell0 = "<td class='text1' height='25' ><input name='mfrCode"+sno+"' class='textbox'   onchange='getOthers("+sno+")'  type='text'></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell0;

               cell = newrow.insertCell(2);
               var cell1 = "<td class='text1' height='25'><input name='itemCode"+sno+"' class='textbox'  onchange='getOthers("+sno+")'  type='text'></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell1;

               cell = newrow.insertCell(3);
               var cell2 = "<td class='text1' height='25'><input id='itemNames"+sno+"' name='itemName"+sno+"' value='' class='textbox'  onFocusOut='getOthers("+sno+")'  type='text'></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell2;

               cell = newrow.insertCell(4);
               var cell3 = " <td class='text1' height='25'><input name='uom"+sno+"' size='5' readonly class='textbox'  type='text'></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell3;

               cell = newrow.insertCell(5);
               var cell4 = " <td class='text1' height='25'><input type='hidden'  name=hiddenElement2 value='qty"+sno+"' ><input name='qty"+sno+"' size='5' onchange='setSelectbox(sno-1)'  class='textbox'  type='text'></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell4;

               cell = newrow.insertCell(6);
               var cell5 = " <td class='text1' height='25'><input name='stock"+sno+"' size='5' readonly class='textbox' value='' type='text'></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell5;
               
               cell = newrow.insertCell(7);
               var cell1 = "<td class='text1'   height='25'><input type='hidden' name=hiddenElement3 value='posId"+sno+"' ><select class='textbox'  style='visibility:hidden;' id='posId"+sno+"'  name='posId"+sno+"' ><option  selected value='0'>---Select---</option><c:if test = "${tyrePostions != null}" ><c:forEach items="${tyrePostions}" var="sec"><option  value='<c:out value="${sec.posId}" />'><c:out value="${sec.posName}" /></c:forEach ></c:if> </select></td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell1;
               
               cell = newrow.insertCell(8);
               var cell1 = "<td class='text1' height='25'><input type='checkbox' name='selectedInd"+sno+"' onClick='clearFieldValues("+sno+");' > </td>";
               cell.setAttribute("className","text2");
               cell.innerHTML = cell1;

               rowCount++;
               getItemNames(sno);
          }
          
          
            function setSelectbox(i)
    {       
        
        var selected=document.getElementsByName("selectedindex") ;
        selected[i].checked = 1;
        }
          
            function selectedItemValidation(){
        
var index = document.getElementsByName("selectedindex");

var chec=0;
var mess = "SubmitForm";
var j=1;
for(var i=0;(i<index.length && index.length!=0);i++){
var qty =eval("document.mrs.qty"+j); 
if(index[i].checked){
chec++;

    if(numberValidation(qty,'Quantity')){
    return 'notSubmit';   
    }
}
j++;
}
if(chec == 0){
//alert("Please Select Any One And Then Proceed");
//km[0].focus();
return 'notSubmit';
}
return 'SubmitForm';
}



function generateMRS()
{
    if(isSelect(document.mrs.technicianId,'Technician ')){
        return;
    }   

  if(itemValidate()!='fail' ){        
    if(confirm("Are you sure to submit")){  
    document.getElementById("buttonStyle").style.visibility = "hidden";
    document.mrs.action="/parveen/generateMrs.do";
    document.mrs.submit();
    }
    }
}

function getItemNames(val){
    var itemTextBox = 'itemNames'+ val;    
    var oTextbox = new AutoSuggestControl(document.getElementById(itemTextBox),new ListSuggestions(itemTextBox,"/parveen/handleItemSuggestions.do?"));
    //getVehicleDetails(document.getElementById("regno"));
} 



</SCRIPT>




  <body onLoad="addRow();">
<form name="mrs" method="post">
      
<%@ include file="/content/common/path.jsp" %>

<!-- pointer table -->


<%@ include file="/content/common/message.jsp"%>


<%
    
    int index=0;
    %>

<c:if test = "${vehicleDetails != null}" >    
      <table id="bg" align="center" border="0" cellpadding="0" cellspacing="0" width="400" class="border">
<tbody><tr>
<td colspan="5" class="contenthead" height="30"><div class="contenthead">Generate MRS</div></td>
</tr>

<c:forEach items="${vehicleDetails}" var="fservice"> 
  <%  
String classText = "";
int oddEven = index % 2;
if (oddEven > 0) {
classText = "text1";
} else {
classText = "text2";
}
%>
<tr>
<td class="text2" height="30">Job Card No</td>
<input name="mrsJobCardNumber" type="hidden" value='<c:out value="${fservice.jobCardId}"/>'>
<td class="text2"  height="30"><c:out value="${fservice.jobCardId}"/></td>
<td class="text2" height="30">Vehicle No</td>
<td class="text2" height="30"><c:out value="${fservice.mrsVehicleNumber}"/></td>
</tr>
<tr>
<td class="text1" height="30">Service Type</td>
<td class="text1" height="30"><c:out value="${fservice.serviceTypeName}"/></td>
<td class="text1" height="30">Chasis No</td>
<td class="text1" height="30"><c:out value="${fservice.mrsVehicleChassisNumber}"/></td>
</tr>
<tr>
<td class="text2" height="30">Vehicle Type</td>
<td class="text2" height="30"><c:out value="${fservice.mrsVehicleType}"/></td>
<td class="text2" height="30">Usage Type</td>
<td class="text2" height="30"><c:out value="${fservice.mrsVehicleUsageType}"/></td>
</tr>
<tr>
<td class="text1" height="30">Technician</td>
<td class="text1" height="30"><select class='textbox' id='technicianId'  name='technicianId' >
<option selected   value=0>---Select---</option>
<c:if test = "${technicians != null}" >
<c:forEach items="${technicians}" var="mfr">
<option  value='<c:out value="${mfr.empId}" />'>
<c:out value="${mfr.empName}" />
</c:forEach >
</c:if> 
</select></td>
<td class="text1" height="30">&nbsp;</td>
<td class="text1" height="30">&nbsp;</td>
</tr>
<%index++;%>
</c:forEach>
</tbody></table>

</c:if>
<br><br>


<table id="items" align="center" border="0" cellpadding="0" cellspacing="0" width="650" class="border">

<tbody><tr>
<td colspan="8" align="center" class="text2" height="30"><strong>Material Details</strong></td>
</tr>
<tr>
<td class="contentsub" height="30">SNo</td>
<td class="contentsub" height="30">MFR Item code</td>
<td class="contentsub" height="30">Item Code</td>
<td class="contentsub" height="30">Item Name</td>
<td class="contentsub" height="30">UOM</td>
<td class="contentsub" height="30">Quantity</td>
<td class="contentsub" height="30">Stock Availability</td>
<td class="contentsub" height="30">Tyre Postion</td>
<td class="contentsub" height="30">Clear</td>
</tr>
<tr>
</tr>

</tbody></table>
<br>
<div id="buttonStyle" align="center" style="visibility:visible;" >
<input value="Add Row" class="button" type="button" onClick="addRow();">
    <input type="button" value="Generate" class="button" onClick="generateMRS()">
</div>
<br>




</form>
  </body>
</html>
