
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="/parveen/css/parveen.css" rel="stylesheet" type="text/css">
        <link href="/parveen/css/dhtmlgoodies_calendar.css" rel="stylesheet" type="text/css" media="screen">
        <script type="text/javascript" language="javascript" src="/parveen/js/dhtmlgoodies_calendar.js"></script>
        <%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %>  
        <%@ page import="ets.domain.purchase.business.PurchaseTO" %>
        <script type="text/javascript" language="javascript" src="/parveen/js/ajaxFunction.js"></script>
        <script type="text/javascript" language="javascript" src="/parveen/js/validate.js"></script>
    </head>    
    <script>
        
        function submitPage(){       
            
            if(document.receiveRcWo.vendorId.value==0){
                alert("Agent Name Should Not be Empty");
                document.receiveRcWo.vendorId.focus();
                return;
                }
                if(document.receiveRcWo.woIds.value==0){
                alert("Work Order Number Should Not be Empty");
                return;
                }

/*
                if(textValidation(document.receiveRcWo.billAmount,'Bill Amount')){       
                        return;
                      } 
                      if(textValidation(document.receiveRcWo.receivedDate,'Received Date')){       
                        return;
                      } 
                      if(textValidation(document.receiveRcWo.remarks,'Invoice No')){       
                        return;
                      } 
*/                      
            //document.receiveRcWo.receivedDate.value = dateFormat(document.receiveRcWo.receivedDate);
            document.receiveRcWo.action = '/parveen/rcItems.do';            
            document.receiveRcWo.submit();
        }
        
        
        function setValues(){
            document.receiveRcWo.vendorId.focus();
            if('<%=request.getAttribute("vendorId")%>' != 'null'){
                document.receiveRcWo.vendorId.value = '<%= request.getAttribute("vendorId")%>';
            }
            
             if('<%=request.getAttribute("receivedDate")%>'!= 'null'){
                document.receiveRcWo.receivedDate.value = '<%= request.getAttribute("receivedDate")%>';
            }
            
             if('<%=request.getAttribute("billAmount")%>'!= 'null'){
                document.receiveRcWo.billAmount.value = '<%= request.getAttribute("billAmount")%>';
            }
            
             if('<%=request.getAttribute("inVoiceNo")%>'!= 'null'){
                document.receiveRcWo.remarks.value = '<%= request.getAttribute("inVoiceNo")%>';
            }
            
            ajaxWoList(document.receiveRcWo.vendorId.value);          
        }      
        
        function saveRcItems(){
            if(textValidation(document.receiveRcWo.billAmount,'Bill Amount')){       
                    return;
                  } 
                  if(textValidation(document.receiveRcWo.receivedDate,'Received Date')){       
                    return;
                  } 
                  if(textValidation(document.receiveRcWo.remarks,'Invoice No')){       
                    return;
                  }            
            var checValidate = selectedItemValidation();               
        }
        
        function ajaxWoList(value){            
            var vendorId=value;            
            var url='/parveen/rcWorkOrderList.do?vendorId='+vendorId;
            if (window.ActiveXObject){
                httpReq = new ActiveXObject("Microsoft.XMLHTTP");
            }
            else if (window.XMLHttpRequest){
                httpReq = new XMLHttpRequest();
            }
            httpReq.open("GET", url, true);
            httpReq.onreadystatechange = function() { processAjax(); } ;
            httpReq.send(null);
        }
        
        function processAjax()
        {
            if (httpReq.readyState == 4)
                {
                    if(httpReq.status == 200)
                        {
                            temp = httpReq.responseText.valueOf();                           
                            var splt = temp.split('-');       
                            setOptions1(temp,document.receiveRcWo.woIds,'0','0');   
                            document.receiveRcWo.woIds.value='<%=request.getAttribute("woIds")%>';
                        }
                        else
                            {
                                alert("Error loading page\n"+ httpReq.status +":"+ httpReq.statusText);
                            }
                        }
                    }
                    
                    function selectedItemValidation(){
                        var index = document.getElementsByName("selectedIndex");
                        var itemAmount = document.getElementsByName("itemAmounts"); 
                        var rcStatus = document.getElementsByName("rcStatuses");       


                            if(document.receiveRcWo.vendorId.value==0){
                            alert("Agent Name Should Not be Empty");
                            document.receiveRcWo.vendorId.focus();
                            return;
                            }
                            if(document.receiveRcWo.woIds.value==0){
                            alert("Work Order Number Should Not be Empty");
                            return;
                            }
                            if(textValidation(document.receiveRcWo.billAmount,'Bill Amount')){       
                            return;
                            } 
                            if(textValidation(document.receiveRcWo.receivedDate,'Received Date')){       
                            return;
                            } 
                            if(textValidation(document.receiveRcWo.remarks,'Invoice No')){       
                            return;
                            }
                            
                        for(var i=0;(i<index.length && index.length!=0);i++){                                             
                            if( rcStatus[i].value=='0' ){   
                                alert("Please Select Rc Status");
                                rcStatus[i].focus();
                                return;
                            }                        
                        } 
                        
                        if(calculateTotal() == 'fail'){
                            return 'fail';
                        }    

                        document.receiveRcWo.action = '/parveen/saveRcItems.do';
                        document.receiveRcWo.submit();
                    }        

function checkScrap(val)
{
    var rcStatus = document.getElementsByName("rcStatuses");  
    var index = document.getElementsByName("scrap");
    if( rcStatus[val].value=='N' ){           
        index[val].checked=true;        
    }     
}    

function calculatSparesTax(val)
{
    var taxPerc = document.getElementsByName("vats");
    var sparesAmnt = document.getElementsByName("sparesAmounts");
    var sparesWithTax = document.getElementsByName("sparesWithTaxs");
    
    
    if( isFloat(sparesAmnt[val].value) ) {
        alert("Please Enter Valid Spares Amount");
        sparesAmnt[val].focus();
        sparesAmnt[val].select();
        return "fail";
    }    
    if(isFloat(taxPerc[val].value) ){
        alert("Please Enter Valid Tax Percentage");
        taxPerc[val].focus();
        taxPerc[val].select();        
        return "fail";   
    }
    sparesWithTax[val].value = parseFloat(sparesAmnt[val].value)+ ( (parseFloat(sparesAmnt[val].value)* parseFloat(taxPerc[val].value))/100 );
    sparesWithTax[val].value  = parseFloat(sparesWithTax[val].value).toFixed(2); 
    return 'pass';
} 


function calculatePrice(val)
{
        var sparesWithTax = document.getElementsByName("sparesWithTaxs");
        var laborCharge = document.getElementsByName("laborAmounts");
        var price = document.getElementsByName("itemAmounts");
        
        if(isFloat( laborCharge[val].value  ) ){
            alert("Please Enter Valid Labor Charge");
            laborCharge[val].focus();
            laborCharge[val].select();               
            return "fail";   
        }        
        price[val].value = parseFloat(sparesWithTax[val].value) + parseFloat(laborCharge[val].value);
        price[val].value = parseFloat(price[val].value ).toFixed(2);        
        return 'pass';
}



function calculatePriceAmnt(val)
{
        
        if( calculatSparesTax(val) == 'fail'){
            //document.receiveRcWo.billAmount.value = parseFloat(document.receiveRcWo.billAmount.value);
            return 'fail';
        }    
        if( calculatePrice(val) == 'fail'){
            //document.receiveRcWo.billAmount.value = parseFloat(document.receiveRcWo.billAmount.value);
            return 'fail';
        }
        calculateTotal();
        return 'pass';
}

function calculateTotal()
{
    var price = document.getElementsByName("itemAmounts");
    var sparesAmnt = document.getElementsByName("sparesAmounts");
    var temp = 0;
    for(var i=0; i<price.length ; i++ ){
        if(sparesAmnt[i].value != ''){
            if( calculatSparesTax(i) == 'fail'){
                //document.receiveRcWo.billAmount.value = parseFloat(document.receiveRcWo.billAmount.value);
                return 'fail';
            }    
            if( calculatePrice(i) == 'fail'){
                //document.receiveRcWo.billAmount.value = parseFloat(document.receiveRcWo.billAmount.value);
                return 'fail';
            }
            temp = parseFloat(temp) + parseFloat(price[i].value); 
            document.receiveRcWo.billAmount.value = temp;
            document.getElementById("total").innerHTML = temp;
        }
    }
    document.receiveRcWo.billAmount.value = parseFloat(document.receiveRcWo.billAmount.value).toFixed(2);
    document.getElementById("total").innerHTML = document.receiveRcWo.billAmount.value ;
    return 'pass';
    
}    


    </script>
    <body onLoad="setValues()">
    <form name="receiveRcWo" method="post">
            
           <%@ include file="/content/common/path.jsp" %>
        

<%@ include file="/content/common/message.jsp" %>

         <table align="center" width="800" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td>
            <table width="600" border="0" align="left" cellpadding="0" cellspacing="0" id="bg" class="border">
                <tr>
                    <td class="contenthead" height="30" colspan="6"><div class="contenthead">Receive RC Items</div></td>
                </tr>
                <tr>
                    <td width="120"  height="30" class="text2">Agent</td>                    
                    <td width="149" height="30" class="text2"><select class="text2" name="vendorId" onchange="ajaxWoList(this.value);" style="width:145px" >            
                            <option value="0">Select</option>
                            <c:if test = "${vendorLists != null}" >
                                <c:forEach items="${vendorLists}" var="vendor"> 
                                    <option value="<c:out value="${vendor.vendorId}"/>"><c:out value="${vendor.vendorName}"/></option>                                
                                </c:forEach>
                            </c:if>
                    </select> </td>                    
                    <td width="149" height="30" class="text2">RCWorkOrder No</td>
                    <td align="center" ><select name="woIds" class="text2" style="width:147px" >
                            <c:if test = "${getWo != null}" >
                                <c:forEach items="${getWo}" var="Wo"> 
                                    <option value="<c:out value="${Wo.woId}"/>"><c:out value="${Wo.woId}"/></option>                                    
                                </c:forEach>
                            </c:if>
                    </select></td>
                </tr>
                <tr>
                    <td  height="30" align="left" class="text1">Bill Amount</td>
                    <td  height="30" align="left" class="text1"><input type="text" class="textbox" name="billAmount" value=""></td>
                    <td  height="30" align="left" class="text1">Received Date</td>
                   <td height="30" align="left" class="text1"><input type="text" class="textbox"   name="receivedDate" value=""><img src="/parveen/images/cal.gif" name="Calendar"  onclick="displayCalendar(document.receiveRcWo.receivedDate,'dd-mm-yyyy',this)"/></td>
                </tr>  
                <tr>
                    <td  height="30" align="left" class="text2">Invoice No.</td>
                    <td  height="30" align="left" class="text2"><input type="text" class="textbox" name="remarks" value=""></td>
                    <td  height="30" align="left" class="text2">&nbsp;</td>
                    <td  height="30" align="left" class="text2">&nbsp;</td>
                </tr>                 
                <br>
                <tr>
                    <td colspan="4" height="30" align="center" class="text2">
                        <input name="button" align="center" type="button" class="button" onClick="submitPage();" value="Search"/>
                    </td>
                </tr>                
            </table>
            </td>            
            <td>
		<table width="200" align="right" border="0" cellpadding="0" cellspacing="0" class="border">
		<tr> 
		<td colspan="2" height="30" class="blue" align="center" style="border:1px;border-color:#FFFFFF;border-bottom-style:dashed;">Total</td>
		</tr>

		<tr> 
		<td width="121" height="30"  class="bluetext">Rs.</td>
                 <td width="86" height="30" class="bluetext"><div id="total" ></div>  </td>
                </tr>                
                </table>               
            </td> 
        </tr>
    </table>
            <br><br>            
            <c:if test = "${ItemList != null}" >      
                <table width="842" border="0" align="center" cellpadding="0" cellspacing="0" id="bg" class="border">
                    <tr>
                        <td class="text2" align="center" height="30" colspan="8"><strong>Receive RC Items</strong></td>
                    </tr>                    
                    <tr>
                        <td  height="30"  align="left" class="contentsub">S No</td>
                        <td  height="30"  align="left" class="contentsub">MFR Item Code</td>
                        <td  height="30"  align="left" class="contentsub">PAPL ItemCode</td>
                        <td  height="30"  align="left" class="contentsub">RC Number</td>
                        <td  height="30"  align="left" class="contentsub">Tyre Number</td>
                        <td  height="30"  align="left" class="contentsub">Item Name</td>
                        <td  height="30"  align="left" class="contentsub">Material Cost</td>
                        <td  height="30"  align="left" class="contentsub">Vat(%)</td>
                        <td  height="30"  align="left" class="contentsub">Material Cost<br> Inclusive of Tax</td>
                        <td  height="30"  align="left" class="contentsub">Labor Charge</td>
                        <td  height="30"  align="left" class="contentsub">Amount</td>
                        <td  height="30"  align="left" class="contentsub">RC Done</td>
                        <td  height="30"  align="left" class="contentsub">Scrap This Item</td>
                        
                    </tr>
                    <% int index = 0;%>
             <c:forEach items="${ItemList}" var="item">          
                    <%
            String classText = "";
            int oddEven = index % 2;
            if (oddEven > 0) {
                classText = "text2";
            } else {
                classText = "text1";
            }
                    %>
                   
                        <tr>
                            <td class="<%=classText %>" height="30">  <%=index + 1%></td>
                            <td class="<%=classText %>" height="30"><c:out value="${item.mfrCode}"/></td>
                            <td class="<%=classText %>" height="30"><c:out value="${item.paplCode}"/></td>
                            <td class="<%=classText %>" height="30"><input type="hidden" name="rcItemIds" value="<c:out value="${item.rcItemId}"/>"><c:out value="${item.rcItemId}"/></td>
                            <td class="<%=classText %>" height="30"><c:out value="${item.tyreNo}"/></td>
                            <td class="<%=classText %>" height="30"><input type="hidden" name="itemIds" value="<c:out value="${item.itemId}"/>" ><c:out value="${item.itemName}"/></td>
                            <td class="<%=classText %>" height="30"><input type="text" class="textbox" size="6" name="sparesAmounts" value="" ></td>
                            <td class="<%=classText %>" height="30">
                            <select name="vats" class="textbox" onfocusout="calculatSparesTax('<%= index %>');" >
                            <c:if test="${vatList!=null}" >
                                <c:forEach items="${vatList}" var="vat" >
                                    <option value="<c:out value="${vat.vat}"/>" > <c:out value="${vat.vat}"/> </option>
                                </c:forEach>
                            </c:if>
                            </select>                                                                                    
                            </td>
                            <td class="<%=classText %>" height="30"><input type="text" readonly  class="textbox"  size="6" name="sparesWithTaxs" value="" ></td>
                            <td class="<%=classText %>" height="30"><input type="text"  class="textbox" size="6"  name="laborAmounts" value="" onFocusOut="calculatePriceAmnt(<%= index %>)" > </td>
                            <td class="<%=classText %>" height="30"><input type="text" readonly  class="textbox"  size="6" name="itemAmounts"   value="" class="textbox"> </td>  
                            
                            <td class="<%=classText %>" align="center" height="30"> 
                            <select  class="textbox" name="rcStatuses" onchange="checkScrap(<%= index %>);" >
                                    <option value="0">SELECT</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                            </select>
                            </td>
                            <td width="77" height="30" class="<%=classText %>"><input type="checkbox" name="scrap" value=""></td>
                            <input type="hidden" name="selectedIndex" value='<%= index %>'>
                            <input type="hidden" name="categoryIds" value='<c:out value="${item.categoryId}"/>'>
                        </tr>
                        <%
            index++;
                        %>
                  </c:forEach>                   
            </table><br>
                <center>
                    <tr>
                        <td height="30" class="contentsub"><input type="button" class="button" value="Save" onClick="saveRcItems();"></td>
                    </tr>
                </center>                                
            </c:if>           
    </form>        
            </body>
</html>
