/***** 5.1. DASHBOARD ******/

.panel-stat {
  background:none;
  .panel-heading {
    padding:15px;
    .border-radius();
  }
  .stat {
    color:#ffffff;
    max-width:250px;
    img {
      text-align:center;
    }
  }
  i {
    font-size:30px;
    border:1px solid #ffffff;
    padding:15px;
    .border-radius(50px);
    opacity:0.5;
  }
  .stat-label {
    text-transform:uppercase;
    font-size:11px;
    opacity:0.75;
    display:block;
    line-height:normal;
    margin-bottom:2px;
  }
  h1 {
    margin:0;
    line-height:36px;
    font-family:@helvetica-neue;
    font-size:38px;
  }
  h4 {
    margin:0;
    font-family:@helvetica-neue;
  }
}

.sublabel {
  display:block;
  font-size:12px;
  margin-bottom:2px;
}

.ex-donut-chart {
  text-align:center;
  height:298px;
}

.ex-line-chart {
  height:248px;
}

.ex-donut-chart > svg, .ex-line-chart > svg {
  width:100% !important;
}
