<%--
    Document   : managerole
    Created on : Jul 19, 2008, 4:23:46 PM
    Author     : vidya
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core_rt" %>
<%@ page import = "com.ent.bu.domain.users.bus.UserTO" %>
<%@ page import="java.util.*" %>
<html>
   <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
             <link href="css/parveen.css" rel="stylesheet" type="text/css">
             <script language="javascript">
                   function submitPage(value){
                       if(value=='add') {
                           document.managerole.action='userServlet';
                           document.managerole.reqfor.value='insertrole';
                           document.managerole.submit();
                       }else if(value=='moddel') {
                           document.managerole.action='userServlet';
                           document.managerole.reqfor.value='alterrole';
                           document.managerole.submit();
                       }
                   }
             </script>

               </head>
    <body >

        <form method="post" name="managerole">

                <br>


                      <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" id="table_01">
                    <tr>
                        <td height="30" class="contenthead" colspan="6">Manage Role types</td>
                    </tr>

<tr class="text2">
<th height="30" class="contentsub">Role Id</th>
<th height="30" class="contentsub">Role type</th>
<th height="30" class="contentsub">Role description</th>
<th height="30" class="contentsub">Status</th>
<th height="30" class="contentsub">Created by</th>
<th height="30" class="contentsub">Created Date</th>
</tr>


    <%
        int index = 0;
        ArrayList usernames = (ArrayList) request.getAttribute("roleRecord");

                %>
                <c:if test = "${roleRecord != null}">
                    <c:forEach items="${roleRecord}" var="user">




                            <%

        String classText = "";
        int oddEven = index % 2;
        if (oddEven > 0) {
            classText = "text1";
        } else {
            classText = "text2";
        }

                            %>
                            <tr>

                                <td height="30" class="<%= classText%>">
                                <input type="hidden" name="userid" value='<c:out value="${user.roleId}" />' /> <div align="center"><c:out value="${user.roleId}" /></div> </td>
                                <td height="30" class="<%= classText%>">
                                <input type="hidden" name="username" value='<c:out value="${user.roleId}" />' /><c:out value="${user.roleName}" /></td>
                                <td width="150" height="30" class="<%= classText%>">
                                <c:out value="${user.roledesc}" /></td>
                                <td height="30" class="<%= classText%>">
                                <input type="hidden" name="actind" value='<c:out value="${user.activeInd}"/>'><div align="center"> <c:out value="${user.activeInd}"/></div> </td>
                                <td height="30" class="<%= classText%>">
                                <input type="hidden" name="createdby" value='<c:out value="${user.createdby}"/>'><div align="center"><c:out value="${user.createdby}"/></div> </td>
                                <td height="30" class="<%= classText%>">
                                <input type="hidden" name="createddate" value='<c:out value="${user.createddate}"/>'><div align="center"><c:out value="${user.createddate}"/></div> </td>


                            </tr>
                            <%
        index++;

                            %>

                        </c:forEach >
                    </c:if>
                </table>  <br>
                      <center>
    <input type="button" name="add" value="Add" onClick="submitPage(this.name)" class="button">
    <input type="button" name="moddel" value="Alter" onClick="submitPage(this.name)" class="button">
    <input type="hidden" value="" name="reqfor">
        </center>
                <br>
    <center>


        </form>
</html>
