@charset "utf-8";
/* CSS Document */
body {
	font:normal 12px Arial, Helvetica, sans-serif;
}

img {
	border:0px none;
}

.table {
	border:1px solid #97caff;
	padding:5px;
	border-top:none;
}

.shell {
	border:1px solid #97caff;
	padding:5px;
	border-bottom:none;
}

.table1  {
	border:1px solid #dadada;
	padding:5px;
}

.table2  {
	border:1px solid #dadada;
	padding:5px;
	font-size:12px;
}

.title {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	background:url(../images/title_bg.jpg) repeat-x 0 0;
	height:30px;
}

.text1 {
	height:25px;
	border-bottom:1px dashed;
        font-size:11px;
	font-weight:normal;
}

.text2 {
	height:25px;
	border-bottom:1px dashed;
	background:#f2f2f2;
        font-size:11px;
	font-weight:normal;
}
.texttitle1 {
	height:25px;
	border-bottom:1px dashed;
        font-size:11px;
	font-weight:bold;
}

.texttitle2 {
	height:25px;
	border-bottom:1px dashed;
	background:#f2f2f2;
        font-size:11px;
	font-weight:bold;
}

.titleHead {
	background:#e7f3ff;
	border:1px dashed #c3c3c3;
	border-left:none;
	border-collapse:collapse;
	height:30px;
	font-weight:bold;
	text-align:center;
}

#stat {
	background:url(../images/status_bg.png) no-repeat 4px 7px;
	width:85px;
	height:20px;
	text-align:center;
}

.contentsub {
	padding:3px;
	height:20px;
	text-align:left;
	font-weight:bold;
        font-size:12px;
	background:#129fd4;
	color:#ffffff;
	background:url(../images/title_bg1.jpg) repeat-x top left #7f8ba5;
}

.row1 {
	padding:3px;
	height:25px;
	border-bottom:1px dashed;
}

.row2 {
	padding:3px;
	height:25px;
	border-bottom:1px dashed;
	background:#f2f2f2;
}

.button {
	background:url(../images/btn_bg.jpg) repeat-x 0 0;
	height:22px;
	border:1px solid #787878;
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	text-transform:uppercase;
}

.sum {
	padding:5px;
	background:#3c6ca7;
	position:fixed;
	right:0px;
	top:20px;
}

.head {
	font-size:16px;
	color:#fff;
	font-weight:bold;
	border-collapse:collapse;
}

.sum_row {
	height:25px;
	text-align:left;
	font-weight:bold;
	color:#ffffff;

}

.sum_row1 {
	height:25px;
	text-align:left;
	font-weight:bold;
	color:#ffffff;

}

.textbox {
	border:1px solid  #4c84c4;
	font-size:11px;
	color:#999;
}
.datepicker{
	border:1px solid  #4c84c4;
	font-size:11px;
	color:#999;
}

h2 {
	padding:5px;
	margin:0px;
	font-size:18px;
	color:#4591e0;
	font-weight:normal;
}

h3 {
	padding:5px;
	margin:0px;
	font-size:18px;
	color:#fff;
	font-weight:bold;
}

h3 a{
	color:#666;
	text-decoration:none;
}

h3 a:hover{
	color:#666;
	text-decoration:underline;
}

h3 .current {
		color:#4292e5;
	text-decoration:underline;
}

.textbox {
	border:1px solid  #4c84c4;
	font-size:12px;
}

.src_left {
	background:url(../images/src_left.png) no-repeat 0 0;
	width:12px;
	height:64px;
}

.src_right {
	background:url(../images/src_right.png) no-repeat 0 0;
	width:12px;
	height:64px;
}

.src_mid {
	background:url(../images/src_mid.png) repeat-x 0 0;
	height:64px;
}

.inbg{
	background:url(../images/bar_blue.jpg) no-repeat 0 0;
	font-size:12px;
	font-weight:bold;
	color:#000;
	width:180px;
	height:40px;
}

.inbg1{
	background:url(../images/bar_green.jpg) no-repeat 0 0;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	width:164px;
	height:40px;
}

.inbg2{
	background:url(../images/bar_grey.jpg) no-repeat 0 0;
	font-size:12px;
	font-weight:bold;
	color:#0188b9;
	width:172px;
	height:40px;
}

.inbg3{
	background:url(../images/bar_greylast.jpg) no-repeat 0 0;
	font-size:12px;
	font-weight:bold;
	color:#0188b9;
	width:191px;
	height:40px;
}

.arrow1 {
	background:url(../images/arrow_left.jpg) no-repeat 15px 12px;
	width:60px;
}

h3 {
	padding:0px;
	margin:0px;
	font-size:14px;
	font-weight:normal;
	color:#666;
	padding-left:5px;
}
.pathroot {
	height:25px;
	background:#f2f2f2;
}

.headsub {
	color:#fff;
	height:25px;
	background:#a6adbd;
	font-weight:bold;
}

.checkbox {
	border:1px solid #97caff;
	background:none;
}

.text1 a {
	color:#4292e5;
	text-decoration:none;
}

.text1 a:hover {
	color:#4292e5;
	text-decoration:underline;
}

.text2 a {
	color:#4292e5;
	text-decoration:none;
}

.text2 a:hover {
	color:#4292e5;
	text-decoration:underline;
}

.deletefile {
	background:url(../images/icon_deletefile.png) 0 3px no-repeat;
	width:39px;
	height:30px;
	border:0px none;
}
.attach {
	background:url(../images/icon_attach.png) 0 3px no-repeat;
	width:39px;
	height:30px;
	border:0px none;
}



.createdir {
	background:url(../images/icon_createdir.png) 0 3px no-repeat;
	width:39px;
	height:30px;
	border:0px none;
}

.addfile {
	background:url(../images/icon_addfile.png) 0 2px no-repeat;
	width:39px;
	height:30px;
	border:0px none;
}

.iconsrc {
	background:url(../images/icon-search.png) 0 0px no-repeat;
	width:30px;
	height:26px;
	border:0px none;
}

.hdtitle {
	background:#f2f2f2;
	height:25px;
}

.table3{
	border:1px solid #f2f2f2;
	padding:2px;
	text-align:left;
}



.rp_submenu  {
	display:block;
	height:25px;
	padding-left:25px;
	background:url(../images/arrow_lf.png) no-repeat 8px 9px;
	text-align:left;
	border-bottom:1px dashed #d9d9d9;
}

.rp_submenu  a {
	color:#6dadef;
	text-decoration:none;
}

.rp_submenu  a:hover {
	color:#7f8ba5;
	text-decoration:underline;
}

.rp_submenu1 {
	display:block;
	height:25px;
	padding-left:25px;
	background:url(../images/arrow_lf.png) no-repeat 8px 9px #f7f7f7;
	text-align:left;
	border-bottom:1px dashed #d9d9d9;
}

.rp_submenu1  a {
	color:#6dadef;
	text-decoration:none;
}

.rp_submenu1  a:hover {
	color:#7f8ba5;
	text-decoration:underline;
}
.last_clr {
	border-bottom:none;
	
}
.table4 {
	background:#e8e8e8;
	padding:3px;
	border:1px solid #60a3e8;
	color:#0759ae;
        font-size:12px;
	font-weight:bold;
}


.table5 {
	border:1px solid #60a3e8;
	color:#0759ae;
	border-collapse:separate;
}

.bottom {
	border-bottom:1px solid #ffffff;
	background:#f2f2f2;
}

.bottom1 {
	background:#f5f5f5;
}