

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="/parveen/css/parveen.css" rel="stylesheet" type="text/css">

        <title>RC Queue</title>
    </head>
    <body>


        <script>
    
   
    
    



        </script>

        <form name="rcQueue" method="post">


            <table align="center" border="0" cellpadding="0" cellspacing="0" width="750" id="bg" class="border">



                <tr>
                    <td colspan="9" align="center" class="text2" height="30"><strong>RC Queue </strong></td>
                </tr>
                <tr>
                    <td class="contenthead" height="30"><div class="contenthead">Company Name</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">Mfr Code</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">Papl Code</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">Item Name</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">RC Code</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">Created Date</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">Elapsed Days</div></td>
                    <td class="contenthead" height="30"><div class="contenthead">Select</div></td>
                </tr>
                <tr>
                    <td class="text1" height="30"></td>
                <td class="text1" height="30"></td>
                <td class="text1" height="30"></td>
                <td class="text1" height="30"></td>

                <td class="text1" height="30">

                    <select name="rcNo" class="textbox" >

                        <option value="" >--Select--</option>


                    </select>   





                    <select name="rcNo" class="textbox" >
                        <option value="" >--Select-- </option>
                        <option value="" >2345 </option>
                        <option value="" >2346 </option>
                        <option value="" >2347 </option>


                    </select>   






                    <input type="hidden" readonly name="rcNo"  >
                           <a href="#" >GenerateRcId</a>





                    <input type="text" size="5" readonly name="rcNo" value="" >


                </td>

                <td class="text1" height="30"></td>
                <td class="text1" height="30"> </td>
                <td class="text1" height="30"> <input type="checkbox" name="selectedIndex" value="" > </td>
              <!--  <input type="hidden" name="itemIds" value=<c:out value="${rc.itemId}"/> >
                <input type="hidden" name="rcNumbers" value=<c:out value="${rc.rcNumber}"/> >
                <input type="hidden" name="rcQueueIds" value=<c:out value="${rc.rcQueueId}"/> >
                <input type="hidden" name="categoryId" value=<c:out value="${rc.categoryId}"/> >          -->

                </tr>

            </table>

            <div align="center" class="text2">

                Vendor Name
                &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="vendorId" class="textbox" onChange='checkItems(<%= index %>)'>
                  <option value='0' > --Select-- </option>
        <option>VISTA DRIVELINE MOTORS  PVT. LTD.,</option>
        <option>ETA STAR WESTERN AUTO PARTS CENTER P LTD</option>
        <option>LATHANGI AUTOMOBILES PVT.LTD</option>
        <option>SCHUMI INDIA</option>
        <option>SURESHKUMAR TRANSPORT PVT.LTD.</option>
        <option>VISHAVADEVI ENGINEERING ENTERPRISES</option>
        <option>CORONA BUS MANUFACTURERS (P) LTD</option>
                </select>

            </div>


            <br>
            <div class="text2" align="center"> Remarks &nbsp;&nbsp;:&nbsp;&nbsp;<textarea class="textbox" name="remarks" ></textarea> </div>
            <center>
                <br>
                <br>

                <input type="button" class="button" name="wo" value="Generate WO"  >

                <input type="button" id="buttonStyle" class="button" style="visibility:visible" name="update" value="generate Rc Code"  >

                <input type="button" class="button"  name="scrap" value="Scrap"  >

            </center>
        </c:if>
    </form>
</body>
</html>
